[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rfordummies"]
	path = rfordummies
	url = https://github.com/rfordummies/rfordummies
